html {
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

body {
    /* background-color: rgb(60, 54, 47); */
    background-image: url(src/woodbackround.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: beige;
    position: relative;
    width: 90%;
    padding: 5%;
}

.logo {
    width: 70%;
    height: 70%;
    margin-bottom: 0;
}

.logoSmall {
    width: 30%;
    height: 30%;
    margin: 0%;
}

.nav {
    position: sticky;
    top: 0;
}

main {
    overflow-x: hidden;
}


.info,
.dagens,
.dish,
.bordskod,
.bestall {
    min-width: 90%;
    margin: 0 0 3%;
    padding: 5%;
    background-color: beige;
    color: rgb(35, 32, 28);
    border-radius: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info,
.dagens,
.dish,
.bordskod,
.bestall {
    max-width: 90%;
    /* margin: 0 0 3%;
    padding: 5%; */
    background-color: beige;
    color: rgb(35, 32, 28);
    border-radius: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dish {
    display: flex;
    justify-content: center;
}


.dish img {
    width: 150px;
    height: 150px;
    margin-right: 1%;
    border-radius: 10px;
    align-self: center;
}

.dishText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

/* Style för huvudmeny */
#meny li {
    display: inline;
    list-style: none;
    text-align: center;
}

/* Ställer in stil för länkar i #meny */
#meny li a {
    padding: 1% 3%;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    background-color: beige;
    color: rgb(35, 32, 28);
}

/* Ställer in stil för länkar vid hover */
#meny li a:hover {
    cursor: pointer;
    background-color: rgb(145, 134, 124);
    color: rgb(35, 32, 28);
}

/* Ställer in stil för länkar när de är besökta eller ej besökta */
#meny a:link,
#meny a:visited {
    color: rgb(35, 32, 28);
    text-decoration: none;
}

/* Ställer in stil för den aktuella länken */
#meny li a.current {
    background-color: rgb(107, 97, 87);
    color: beige;
}

/* Style för andraMeny */
#meny2 li {
    display: inline;
    list-style: none;
    text-align: center;
}

/* Ställer in stil för länkar i #meny */
#meny2 li a {
    padding: 1% 3%;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    background-color: #4c4431;
    color: beige;
}

/* Ställer in stil för länkar vid hover */
#meny2 li a:hover {
    cursor: pointer;
    background-color: #857a61;
    color: beige;
}

/* Ställer in stil för länkar när de är besökta eller ej besökta */
#meny2 a:link,
#meny2 a:visited {
    color: beige;
    text-decoration: none;
}

.andraMeny {
    background-color: #4c4131;
    padding: 0 1% 0 1%;
    margin-bottom: 6%;
    box-shadow: 0 0 3px 1px rgb(33, 26, 19) inset;
}

.seBestallning {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    background-color: #4c4131;
    color: beige;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 100ms;
    outline: none;
}

button:active {
    background-color: beige;
    color: #4c4131;
    box-shadow: 1px 1px 1px 1px;
}

button.removeBtn {
    background-color: red;
    /* border-radius: 50%; */
    height: 25px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.container {
    text-align: center;
    padding: 20px;
    background: beige;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#utvald-mat img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.featuredH1 {
    margin-bottom: 30px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: rgb(43, 40, 34);

}

#dagens-namn {
    font-size: 20px;
    color: rgb(63, 53, 42);
}

h3 {
    color: #333;
    margin: 10px 0;
}

p {
    color: black;
}

/* Styling för modal */
#orderList {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    /* Justera efter behov */
    width: 80%;
    /* Justera efter behov */
    z-index: 999;
    /* Gör så att fönstret ligger överst */
    background-color: rgba(245, 245, 220, 0.76);
    backdrop-filter: blur(5px);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 5%;
    padding-bottom: 8%;
    display: none;
    /* Gömmer modalen initialt */
    text-align: left;
    overflow-y: auto;

}

#orderList ul {
    list-style-type: none;
    /* Tar bort standardpunkterna */
    padding: 0;
    margin: 0;
    height: 80vh;
    overflow-y: auto;
}

.liOrderList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 2vh;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.yourOrder {
    justify-content: flex-start;
}

.quantity {
    width: 20px;
}

.namePrice {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    text-align: left;
    margin-right: auto;
}

.quant {
    display: flex;
    flex-wrap: nowrap;
    min-width: 80px;
    max-width: 100px;
    justify-content: flex-end;
}

.addRemove {
    background-color: #33333300;
    border: none;
    border-radius: none;
    display: flex;
    padding: 3px;
    height: 15px;
    width: 15px;
    color: #4c4131;
    font-size: medium;
    box-sizing: border-box;
    line-height: 2px;
}

.buttonStyling {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
    gap: 10px;
}

/* Informations-popup-stilar */
#infopopup {
    display: none;
    /* Dölj popupen som standard */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Halvgenomskinlig bakgrund */
    display: flex;
    justify-content: center;
    align-items: center;
}

.infopopup-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    color: rgb(31, 28, 24);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    line-height: 1.1;
}

#Jagfortstorbutton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(60, 54, 47);
    color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Jagfortstorbutton:hover {
    background-color: rgb(26, 22, 19);
}

#showBtn {
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: sticky;
    bottom: 2vh;
    width: 80%;
    height: 9vh;
    box-shadow: 0 0 3px 1px rgb(33, 26, 19) inset;
    border: none;
    color: beige;
    position: fixed;
    left: 50%;
    /* Centrera horisontellt */
    transform: translateX(-50%);
    /* Justera så att knappen är exakt i mitten */
}

#showBtn:active {
    background-color: beige;
    color: #4c4131;
    box-shadow: 1px 1px 1px 1px;
}

#placeOrder {
    background-color: #4c4131;
    color: beige;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 100ms;
}

#placeOrder:active {
    background-color: beige;
    color: #4c4131;
    box-shadow: 1px 1px 1px 1px;
}


.popup {
    display: none;
    /* Dold som standard */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.stang-popup {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.stang-popup:hover,
.stang-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

form input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgb(31, 28, 24);
    border-radius: 5px;
    background-color: beige;
    color: rgb(31, 28, 24);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form button {
    background-color: rgb(60, 54, 47);
    color: beige;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(26, 22, 19);
}

.popup-content h2,
.popup-content p,
.popup-content label {

    color: rgb(31, 28, 24);
    font-family: Georgia, 'Times New Roman', Times, serif;

}