html {
    scroll-behavior: smooth;
    scroll-padding: 20vh;
}

body {
    /* background-color: rgb(60, 54, 47); */
    background-image: url(src/woodbackround.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: beige;
    position: relative;
    width: 90%;
    padding: 5%;
}

.logo {
    width: 70%;
    height: 70%;
    margin-bottom: 0;
}

.logoSmall {
    width: 30%;
    height: 30%;
    margin: 0%;
}

.nav {
    position: sticky;
    top: 10px;
}

main {
    overflow-x: hidden;
}


.info,
.dagens,
.dish,
.bordskod,
.bestall {
    min-width: 90%;
    margin: 0 0 3%;
    padding: 5%;
    background-color: beige;
    color: rgb(35, 32, 28);
    border-radius: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info,
.dagens,
.dish,
.bordskod,
.bestall {
    max-width: 90%;
    margin: 0 0 3%;
    padding: 5%;
    background-color: beige;
    color: rgb(35, 32, 28);
    border-radius: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dish {
    display: flex;
}


.dish img {
    width: 50%;
    height: 50%;
    margin-right: 1%;
}

ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

/* Ställer in listobjekt i #meny att visas inline och utan punktlista */
#meny li {
    display: inline;
    list-style: none;
    text-align: center;
}

/* Ställer in stil för länkar i #meny */
#meny li a {
    padding: 1% 3%;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    background-color: beige;
    color: rgb(35, 32, 28);
}

/* Ställer in stil för länkar vid hover */
#meny li a:hover {
    cursor: pointer;
    background-color: rgb(145, 134, 124);
    color: rgb(35, 32, 28);
}

/* Ställer in stil för länkar när de är besökta eller ej besökta */
#meny a:link,
#meny a:visited {
    color: rgb(35, 32, 28);
    text-decoration: none;
}

/* Ställer in stil för den aktuella länken */
#meny li a.current {
    background-color: rgb(107, 97, 87);
    color: beige;
}

.andrameny {
    background-color: beige;
    margin-bottom: 2%;
    border-radius: 1%;
}


.container {
    text-align: center;
    padding: 20px;
    background: beige;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#utvald-mat img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.featuredH1 {
    margin-bottom: 30px;
    color: #333;
}

#dagens-namn {
    font-size: 24px;
    color: #555;
}

h3 {
    color: #333;
    margin: 10px 0;
}

p {
    color: black;
}



/* Styling för modal */
#orderList {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    /* Justera efter behov */
    width: 80%;
    /* Justera efter behov */
    z-index: 999;
    /* Gör så att fönstret ligger överst */
    background-color: rgba(245, 245, 220, 0.76);
    backdrop-filter: blur(5px);
    color: black;
    /* backdrop-filter: none; */
    /* Ingen blur på själva modalen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5%;
    padding-bottom: 8%;
    display: none;
    /* Gömmer modalen initialt */
    text-align: left;
}

#orderList ul {
    list-style-type: none;
    /* Tar bort standardpunkterna */
    padding: 0;
    margin: 0;
}

.quantity {
    width: 20px;
}

.addRemove {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    outline: none;
    border: none;
    width: 20px;
}

.buttonStyling {
    display: flex;
    flex-direction: row;
    margin: 2%;
    gap: 10px;
}

#showBtn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 5vh;
    left: 50%; /* Centrera horisontellt */
    transform: translateX(-50%); /* Förflytta knappen till exakt mitten */
}

/* Informations-popup-stilar */
#infopopup {
    display: none;
    /* Dölj popupen som standard */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Halvgenomskinlig bakgrund */
    display: flex;
    justify-content: center;
    align-items: center;
}

.infopopup-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    color: rgb(31, 28, 24);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    line-height: 1.1;
}

#Jagfortstorbutton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(60, 54, 47);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Jagfortstorbutton:hover {
    background-color: rgb(26, 22, 19);
}

