body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 500px;
    border: solid black;
    margin: 10px;
}

.dish img {
    height: 200px;
}